body{
  background-color:lightgray;
}

.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.student_div{
  width: 280px;
  background:#add8e6;
  padding: 30px;
  padding-top: 50px;
  border:solid;
  border-color: blue;
  float: left;
  margin:1%;
  height: 300px;
  text-align: center;
}


.courses_div{
  width: 280px;
  background:yellow;
  padding: 30px;
  padding-top: 50px;
  border:solid;
  border-color: blue;
  float: left;
  margin:1%;
  height: 300px;

}

.active{
  background-color:green;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin-left:45%;
}

form{
  background: gray;
  text-align: center;

}
form input{
  width: 25%;
}

button{
  margin-top:1%;
}