body{
  background-color:lightgray;
}

.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.student_div{
  width: 280px;
  background:#add8e6;
  padding-top: 50px;
  border:solid;
  border-color: blue;
  float: left;
  margin:1%;
  height: 350px;
  text-align: center;
}


.courses_div{
  width: 280px;
  background:yellow;
  padding-top: 50px;
  border:solid;
  border-color: blue;
  float: left;
  margin:1%;
  height: 300px;

}

.active{
  background-color:green;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin-left:45%;
}

form{
  background:none;
  text-align: center;

}
form input{
  width: 25%;
  border-color: blue;
}

button{
  margin-top:1%;
}

.edit_info_form input{
  width: 60%;
}

.edit_info_form select{
  width: 60%;
  border-color: blue;
}

.edit_info_form label{
  width: 40%;
}

.add_student_form_class select{
  width: 60%;
  border-color: blue;
}
ul{
 list-style-type:none;
 margin: 0; /* To remove default bottom margin */ 
 padding: 0; /* To remove default left padding */
}

button{
  margin:5px;
}